<div data-hook='admin_supplier_address_form_fields'>
  <div class='row'>
    <div class='left col-6' data-hook='admin_product_form_left'>
      <fieldset class='no-border-bottom'>
        <legend align='center'><%= t('spree.address')%></legend>
        <div data-hook='admin_supplier_address_form'>
           <%= f.fields_for :address do |address_form| %>
            <%= render partial: 'spree/admin/shared/address_form',
              locals: { f: address_form, type: 'shipping' } %>
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class='right col-6' data-hook='admin_supplier_details_form_right'>
      <fieldset class='no-border-bottom'>
        <legend align='center'><%= t('spree.details')%></legend>
        <div data-hook='admin_supplier_form_name'>
          <%= f.field_container :name do %>
            <%= f.label Spree::Supplier.human_attribute_name(:name) %>
            <%= f.text_field :name, class: 'fullwidth' %>
          <% end %>
        </div>

        <% if try_spree_current_user.has_admin_role? %>
          <div data-hook='admin_supplier_form_commission_users'>
            <%= f.field_container :admins do %>
              <%= f.label :admins %>
              <%= hidden_field_tag 'supplier[admin_ids_string]',
                                   f.object.admin_ids.join(','),
                                   class: 'user_picker fullwidth' %>
            <% end %>
          </div>
        <% end %>

        <div data-hook='admin_supplier_form_paypal_email'>
          <%= f.field_container :paypal_email do %>
            <%= f.label Spree::Supplier.human_attribute_name(:paypal_email) %>
            <%= f.email_field :paypal_email, class: 'fullwidth' %>
          <% end %>
        </div>

        <div data-hook='admin_supplier_form_url'>
          <%= f.field_container :url do %>
            <%= f.label Spree::Supplier.human_attribute_name(:url) %>
            <%= f.text_field :url, class: 'fullwidth' %>
          <% end %>
        </div>

        <div data-hook='admin_supplier_form_tax_id'>
          <%= f.field_container :tax_id do %>
            <%= f.label Spree::Supplier.human_attribute_name(:tax_id) %>
            <%= f.text_field :tax_id, class: 'fullwidth' %>
          <% end %>
        </div>

        <% if try_spree_current_user.has_admin_role? %>
          <div data-hook='admin_supplier_form_commission_flat_rate'>
            <%= f.field_container :commission_flat_rate do %>
              <%= f.label Spree::Supplier.human_attribute_name(:commission_flat_rate) %>
              <%= f.text_field :commission_flat_rate, class: 'fullwidth' %>
            <% end %>
          </div>

          <div data-hook='admin_supplier_form_commission_percentage'>
            <%= f.field_container :commission_percentage do %>
              <%= f.label Spree::Supplier.human_attribute_name(:commission_percentage) %>
              <%= f.text_field :commission_percentage, class: 'fullwidth' %>
            <% end %>
          </div>

          <div data-hook='admin_supplier_form_active'>
            <%= f.field_container :active do %>
              <div class='checkbox'>
                <%= label_tag :active do %>
                  <%= f.check_box :active, class: 'fullwidth' %>
                  <%= Spree::Supplier.human_attribute_name(:active) %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>
