<% content_for :page_actions do %>
  <li id='new_supplier'>
    <%= link_to t('spree.new_supplier'), new_object_url, class: 'btn btn-primary' %>
  </li>
<% end %>

<% admin_breadcrumb(plural_resource_name(Spree::Supplier)) %>

<% content_for :table_filter_title do %>
  <%= t('spree.search') %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook='admin_suppliers_filter'>
    <%= search_form_for [:admin, @search] do |f| %>
      <div class='row' data-hook='admin_suppliers_index_search' >
        <div class='col-6'>
          <div class='field'>
            <%= f.label :name_cont, Spree::Product.human_attribute_name(:name) %>
            <%= f.text_field :name_cont, size: 15 %>
          </div>
        </div>
      </div>

      <div class='actions filter-actions' data-hook='admin_products_index_search_buttons'>
        <%= button_tag t('spree.search'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>

<div id='new_supplier_wrapper' data-hook></div>

<%= paginate @collection, theme: 'solidus_admin' %>

<% if @collection.any? %>
  <table class='table' id='listing_suppliers'>
    <thead>
      <tr data-hook='admin_suppliers_index_headers'>
        <th><%= sort_link(@search, :name, Spree::Supplier.human_attribute_name(:name)) %></th>
        <th><%= t('spree.admins') %></th>
        <th><%= sort_link(@search, :active, t('spree.status')) %></th>
        <th data-hook='admin_suppliers_index_header_actions' class='actions'></th>
      </tr>
    </thead>

    <tbody>
      <% @collection.each do |supplier| %>
        <tr <%= "style='color: red;'" if supplier.deleted? %> id="<%= spree_dom_id supplier %>" data-hook="admin_suppliers_index_rows" class="<%= cycle('odd', 'even') %>">
          <td><%= link_to supplier.name, edit_object_url(supplier) %></td>
          <td><%= supplier.admins.pluck(:email).join(', ') %></td>
          <td>
            <span class="pill pill-<%= supplier.active? ? 'active' : 'inactive' %>">
              <%= t("spree.#{supplier.active? ? 'active' : 'inactive'}") %>
            </span>
          </td>
          <td class='actions' data-hook='admin_suppliers_index_row_actions'>
            <% unless supplier.deleted? %>
              <%= link_to_edit supplier, no_text: true, class: 'edit' if can?(:edit, supplier) && !supplier.deleted? %>
              <%= link_to_delete supplier, no_text: true if can?(:delete, supplier) && !supplier.deleted? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='no-objects-found'>
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Supplier,
                  new_resource_url: new_object_url %>
  </div>
<% end %>

<%= paginate @collection, theme: 'solidus_admin' %>
