<% content_for :page_actions do %>
  <li id="back_supplier_link">
    <%= link_to t('spree.back_to_suppliers'), spree.admin_suppliers_path, class: 'btn btn-primary' %>
  </li>
<% end %>

<% content_for :page_title do %>
   <%= t('spree.new_supplier') %>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @object } %>

<%= form_for [:admin, @object] do |f| %>
  <fieldset class='no-border-top'>
    <%= render 'form', f: f %>
    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
