<% admin_breadcrumb(link_to t('spree.reports'), spree.admin_reports_path) %>
<% admin_breadcrumb(t('spree.earnings')) %>

<% content_for :page_actions do %>
  <li id='export_supplier_csv'>
    <%= link_to t('spree.export_supplier_csv'), spree.earnings_admin_reports_url(format: 'csv'), class: 'btn btn-primary' %>
  </li>
<% end %>

<% content_for :table_filter_title do %>
  <%= t('spree.date_range') %>
<% end %>

<% content_for :table_filter do %>
  <%= render partial: 'spree/admin/shared/report_order_criteria', locals: { action: :earnings } %>
<% end %>

<table class="admin-report" data-hook="earnings">
  <thead>
    <tr>
      <th><%= t('spree.supplier') %></th>
      <th><%= t('spree.supplier_paypal_email') %></th>
      <th><%= t('spree.supplier_earnings') %></th>
    </tr>
  </thead>
  <tbody>
    <% @supplier_earnings.each do |supplier_earnings| %>
      <tr>
        <td><%= supplier_earnings[:name] %></td>
        <td><%= supplier_earnings[:paypal_email] %></td>
        <td><%= supplier_earnings[:earnings].to_html %></td>
      </tr>
    <% end %>
  </tbody>
</table>
