<% content_for :page_actions do %>
  <%= link_to I18n.t('spree.back_to_shipments_list'), spree.admin_shipments_path, icon: 'arrow-left', class: 'btn btn-primary' %>
<% end %>

<% if spree_current_user.admin? && @shipment.supplier.present? %>
  <div data-hook="admin_shipment_supplier" class="row">
    <fieldset class="col-md-12 no-border-bottom">
      <legend align="center"><%= I18n.t('spree.supplier_information') %></legend>
      <div>
        <b><%= Spree::Supplier.human_attribute_name(:name) %>:</b> <%= @shipment.supplier.name %><br/>
        <b><%= Spree::Supplier.human_attribute_name(:email) %>:</b> <%= @shipment.supplier.email %><br/>
        <b><%= Spree::Supplier.human_attribute_name(:url) %>:</b> <%= link_to @shipment.supplier.url, @shipment.supplier.url if @shipment.supplier.url.present? %><br/>
      </div>
      <div>
        <b><%=I18n.t('spree.contact_information') %>:</b>
      </div>
      <%= render partial: 'spree/shared/address', locals: { address: @shipment.supplier.address } %>
    </fieldset>
  </div>
<% end %>

<div data-hook="admin_shipment_form_fields">
  <%= render partial: "spree/admin/orders/shipment", locals: { order: @shipment.order, shipment: @shipment } %>
</div>
