<% content_for :page_title do %>
    <%= I18n.t('spree.marketplace_settings') %>
<% end %>

<%= form_tag(spree.admin_marketplace_settings_path, :method => :put) do %>
    <fieldset class="general no-border-top">
      <% %w( default_commission_flat_rate default_commission_percentage automatically_deliver_orders_to_supplier send_supplier_email).each do |key|
        type = SolidusMarketplace::Config.preference_type(key) %>
          <div class="field col-md-6">
            <%= label_tag(key, I18n.t("spree.#{key}") + ': ') + tag(:br) if type != :boolean %>
            <%= preference_field_tag(key, SolidusMarketplace::Config[key], :type => type ,:class => 'form-control')%>
            <%= label_tag(key, I18n.t("spree.#{key}")) + tag(:br) if type == :boolean %>
          </div>
      <% end %>
      <div class="form-buttons" data-hook="buttons">
        <%= button_tag I18n.t('spree.update'), class: 'btn btn-primary' %>
        <span class="or"><%= I18n.t('spree.or') %></span>
        <%= link_to I18n.t('spree.cancel'), spree.edit_admin_marketplace_settings_url, class: 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
